<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake terminal</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <style>
        :root {
            --output-color: chartreuse;
            --input-color: gold;
            --font-size: 20px;
        }

        body {
            background-color: black;
            color: var(--output-color);
            font-family: 'Consolas', monospace;
            font-size: var(--font-size);
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #prompt {
            background: none;
            border: none;
            color: var(--input-color);
            font-family: 'Consolas', monospace;
            font-size: var(--font-size);
            outline: none;
        }

        .input {
            color: var(--input-color);
        }
    </style> -->
</head>

<body>

    <div id="history">
        <span id="startMessage">
            TerminAlfred
        </span>
    </div>

    <div>
        > <input autofocus type="text" class="input" id="prompt" style="width:90%;" name="prompt">
    </div>

    <script>
        let prompt = $$('prompt');
        let history = $$('history');

        let ttsheet = []; // Array<Entry>

        displayPrompt();
        prompt.value = ''

        document.addEventListener('keydown', () => {
            if (event.key == 'Enter' && prompt == document.activeElement) {
                submitInput(prompt.value)
                // clear the textbox
                prompt.value = '';
                displayPrompt()
            };
        });

        document.addEventListener('click', () => { $$('prompt').focus(); });

        function $(selector) { return document.querySelectorAll(selector) };
        function $$(selector) { return document.getElementById(selector) };

        async function submitInput(input) {
            // input: string
            // return void

            if (input == 'cls') {
                clearConsole()
            } else {


                printToConsole(input);
                history.innerHTML += await processInput(input)
            };

        }

        async function processInput(input) {
            // FETCH
            let response = await fetch('/command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ command: input })
            });


            if (response.ok) { // if HTTP-status is 200-299
                return `<div class='output'># ${await response.text()}</div>`;

            } else {
                alert("HTTP-Error: " + response.status);
            }

        }


        function printToConsole(input) {
            // input: string
            // return void
            history.innerHTML += `<div><span class="output">> </span><span class="input">${input}</span></div>`
        }



        function displayPrompt() {
            // return void
            history.innerHTML += `<div>
                <div>[${getCurrentTime()}]</div><br>
                </div>`
            // <span class="prompt">What can I do for you?</span>
        }

        function clearConsole() {
            // return void
            history.innerHTML = ''
        }


        function getCurrentTime() {
            let today = new Date();
            return (
                today.getHours().toString().padStart(2, '0') +
                ':' +
                today.getMinutes().toString().padStart(2, '0')
            );
        }


    </script>
</body>

</html>